*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root{
    --background-color : #A8DF8E;
    --cabecalho : #F3FDE8;
    --teste : #FFE5E5;
    --teste2 : #FFBFBF;
}

body{
    background: var(--background-color);
    height: 100vh;
    width: 100%;
}

header{
    background-color: var(--cabecalho);
    min-width: 480px;
    width: 80%;
    display: flex;  
    margin: auto;
    align-items: center;
    padding: 0 2rem;
}
header div{
    width: 80%;
    padding: 2em 0;
}

main{
    min-width: 480px;
}

main h2{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    flex-wrap: wrap;
}

main section.produtos{
    min-width: 480px;
    width: 80%;
    background-color: var(--cabecalho);
    margin: auto;
    padding: 1rem;
}

main section table {
    min-width: 480px;
    width: 100%;      
}

main section table thead {
    
    border: solid 1px red;
}

main section table thead th {  
    border: solid 1px red; 

}

/* main section table .produto{
    display: flex;
    justify-content: center;
    gap: 1em;  
} */

main section table tr.produto input{
    margin-top: 1em;
}

/* main section table tr.produto input.nome-produto{
    width: 25vw;
}

.valor-unitario,
.quantidade,
.sub-total {
  flex: 1; 
} */