*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root{
    --background-color : #A8DF8E;
    --cabecalho : #F3FDE8;
    --teste : #FFE5E5;
    --teste2 : #FFBFBF;
}

body{
    background: var(--background-color);
    width: 100vw;
}

div.conteudo{
    width: 80%;
    display: grid;
    margin: auto; 
}

header{
    background-color: var(--cabecalho);
    width: 100%;    
    display: grid;  
    margin: auto;
    align-items: center;
    padding: 0 2rem;
}
header div{
    
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

main{
    width: 100%;
    display: grid;
    margin: auto;

}

main h2{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    flex-wrap: wrap;
}


main section.produtos{
    
    width: 100%;
    background-color: var(--cabecalho);
    margin: auto;
    padding: .5rem;
}

main section.produtos div.container {
    overflow: auto;
}

main section table {
    
    width: 100%;
    display: flex;      
    flex-direction: column;
}

main section table thead {    
    border: solid 1px red;
    width: 100%;
    
}

main section table thead tr{    
    display: flex;
    justify-content: space-evenly;
    
}

main section table thead th {  
    border: solid 1px red; 
}


/* main section table .produto{
    display: flex;
    justify-content: center;
    gap: 1em;  
} */

main section table tbody{
    width: 100%;
    
}

main section table tbody tr {
    display: flex;
    width: 100%;
}

main section table tbody td {
    display: flex;
    width: 100%;
    margin-top: .5rem;
    gap: 1rem;
}
main section table tbody tr.produto  td input{
    
    width: 100%;
    height: 24px;
}

/* main section table tr.produto input.nome-produto{
    width: 25vw;
}
*/
/* .valor-unitario,
.quantidade,
.sub-total {
  flex: 1; 
} */